.data-container {
    display: flex;
}
.list {
    width: 40%;
}
.tree {
    width: 60%;
}
.btn {
    padding: 0 5px;
    color: black;
    background-color: rgba(255, 0, 0, 0.418);
}
.list-container {
    border: solid 1px lightgray;
}
.--margin {
    margin: 0
}
.--width {
    width: 120px;
}