.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.form-element {
    width: 20vw;
    margin: 5rem;
  }
