<div class="container form-element">
    <h3>Add Node to Tree</h3>
    <form #ItemForm="ngForm" (ngSubmit)="onSubmit(); ItemForm.reset()">
        <div class="form-group">
            <label for="item-list">select list Item</label>
            <select class="form-control" id="item-list" required
                [(ngModel)]="nodeModel.id" name="item-list"
                #itemList="ngModel"
            >
                <option *ngFor="let item of listItems" [value]="item.id">{{item.name}}</option>
            </select>
            <div 
                [hidden]="itemList.dirty"
                class="alert alert-danger"
                >
                  Please select an Item
            </div>
        </div>
<!-- //============================================================= -->
        <div class="form-group">
            <label for="parent-list">select parent id</label>
            <select class="form-control" id="parent-list" required
                [(ngModel)]="nodeModel.parent.id" name="parent-list"
                #parentList="ngModel"
            >
                <option *ngFor="let item of parentsID" [value]="item">{{item}}</option>
            </select>
            <div 
                [hidden]="parentList.dirty"
                class="alert alert-danger"
                >
                  Please select a parent id
            </div>
        </div>
        <button type="submit" class="btn btn-success"
        [disabled]="!ItemForm.form.valid"
        >
            Submit
        </button>
    </form>
</div>
